<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="username" value="hijava"></parameter>
  <parameter name="password" value="welcomejava"></parameter>
  <classes>
      <class name="org.pack2.Sampleparam"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
